.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 30%);
  backdrop-filter: blur(2px);
}

.container {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  padding: 40px 24px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-surface);
  border-radius: 12px;
  box-shadow: none;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
}

.closeIcon {
  width: 32px;
  height: 32px;
  fill: var(--color-text-primary);
}

.contentWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;

  overflow-y: auto;

  width: 100%;
}
