.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 30%);
  backdrop-filter: blur(2px);
}

.container {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;

  display: flex;
  flex-direction: column;

  background-color: var(--color-surface);
  border-radius: 12px;
  box-shadow: none;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
}

.closeIcon {
  width: 24px;
  height: 24px;
  filter: var(--color-text-primary);
}

.contentWrapper {
  min-height: 0;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 36px 52px;
  align-items: center;
}

@media (max-width: 768px) {
  .contentWrapper {
    padding: 24px;
  }
}
