.button {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);

  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover:not(:disabled) {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.icon {
  width: 16px;

  display: flex;
  align-items: center;

  font-size: var(--font-size-lg);
  text-align: center;
}
